<header>
    <nav class="nav-bar">
        <div class="logo-zone w-20">
            <div class="logo d-flex">
                <img src="/img/logo3_gold.png" alt="" class="w-100" id="logo">
                <span>Audio <br> Book</span>
            </div>
        </div>
        <div class="menu-zone w-60">
            <ul class="list-items">
                <li class="menu-item"><a href="/home">Trang chủ</a></li>
                <li class="menu-item"><a href="/audio_book">Sách nói</a></li>
                {{!-- <li class="menu-item"><a href="/challenge">Thử thách</a></li> --}}
                <li class="menu-item"><a href="/bookmark">Thư viện</a></li>
                <li class="menu-item"><a href="/studio">Studio</a></li>
       
            </ul>
        </div>
        <div class="account-zone w-20 d-flex">
            <div class="user-avatar">
                <img src="/img/ava.png" alt="" class="w-100">
            </div>
            <div class="user-infor fa-solid fa-chevron-down">
                <div class="user-method">
                    <div class="user-profile">
                        <div class="user-info">
                            <div class="user-avatar" style="width:2.5rem">
                                <img id="p-ava"  src="/img/ava.png" alt="" class="w-100">
                            </div>
                            <div class="user-name" style="white-space: nowrap;">
                                <span id="p-username">Username</span>
                            </div>
                        </div>
                        <div class="details-profile" id="p-profile">
                            <span >See all profiles</span>
                        </div>
                    </div>
                    <div class="user-report">
                        <div class="icon">
                            <i class="fa-solid fa-circle-question"></i>
                        </div>
                        <div>
                            <span>Give a feedback</span>
                        </div>
                    </div>
                    <div class="log-out">
                        <div class="icon">
                            <i class="fa-solid fa-right-from-bracket"></i>
                        </div>
                        <div>
                            <span>Log out</span>
                        </div>
                    </div>
                </div>
            </div>
            <i class="bi bi-lightbulb-off-fill"></i>
        </div>
        <div class="btn-menu" tabindex="0">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div>
    </nav>
</header>