
{{!-- css  --}}
<link rel="stylesheet" href="/css/bookmark_reading.css">

{{!-- main-page  --}}
<section class="section-main">
    <div class="container">
        <div class="support-box">
            <div class="left-bar">
                <button class="goHome"><i class="fa-solid fa-book-open"></i>Go to the library</button>
            </div>
            <span class="big-main-title">You are reading</span>
            <div class="img-box">
                <img src="/img/ADVENTURES_OF_HUCKLEBERRY_FINN-2.jpg" alt="" class="w-100">
            </div>
            <div class="desc">
                <span class="book-name">The Root Way</span>
                <span class="author d-block">Mark Twain</span>
                <span class="n_pages d-block">Pages: 150</span>

            </div>

            <div class="note">
                <span><i class="fa-solid fa-bookmark"></i>Book Mark</span>
                <div class="mark">
                    <label for="">Page</label>
                    <input type="number">
                </div>
                <div class="note_text">
                    <label for="" class="d-block">Note content</label>
                    <textarea name="" id="" cols="20" rows="5"></textarea>
                </div>
                <button>Save</button>
            </div>
            <div class="btn-action">
                <button class="audio"><i class="fa-solid fa-file-audio"></i>Audio book</button>
                <button><i class="fa-solid fa-plus"></i>Add to my list</button>
                <button><i class="fa-solid fa-cart-plus"></i>Buy this book</button>
            </div>
        </div>
        <div class="flip-book-container w-100" src="">

        </div>
    </div>
</section>

{{!-- script  --}}
<script src="/js/jquery.min.js"></script>
<script src="/js/html2canvas.min.js"></script>
<script src="/js/three.min.js"></script>
<script src="/js/pdf.min.js"></script>
<script type="text/javascript">
    window.PDFJS_LOCALE = {
        pdfJsWorker: "/js/pdf.worker.js",
        pdfJsCMapUrl: 'cmaps'
    };
</script>
<script src="/src/3dflipbook.min.js"></script>
<script src="js/bookmark_reading.js" type="module"></script>