{{!-- css --}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="/css/bookmark.css">

{{!-- main - page --}}
<section class="section-banner">

    <div class="container d-flex">
        <div class="swiper slide-books w-30">
            <span class="main-tille">Popular Books</span>
            <ul class="list-books d-flex swiper-wrapper">

            </ul>
            <div class="swiper-button-next btn-move" style="color: #E50914 ;"></div>
            <div class="swiper-button-prev btn-move" style="color: #E50914 ;"></div>
            <div class="swiper-pagination" style="color: #E50914 ;"></div>
        </div>
        <div class="infor-books w-40">
            <ul class="menu-info  d-flex">
                <li class="info-item">Description</li>
                <li class="info-item">Author</li>
                <li class="info-item">Rate</li>
            </ul>
            <div class="board-infor">
                <div class="desc">
                    <span class="book-name">The good guy</span>
                    <div class="aside-infor">
                        <span class="year"><i class="fa-solid fa-thumbs-up"></i>2019</span>
                        <span class="age-allow">16+</span>
                        <span class="length">700 pages</span>
                    </div>
                    <div class="language">

                        <span><i class="fa-solid fa-earth-americas" style="margin-right:.5rem ;"></i>Language:
                            English</span>
                    </div>
                    <p class="summary">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Nobis voluptatibus enim, perferendis in fuga excepturi,
                        fugit similique illo dicta, maiores vel laborum animi quasi
                        facere consequatur sit veritatis asperiores qui.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora
                        ullam similique in error cum animi suscipit, exercitationem eveniet?
                        Adipisci dignissimos
                        sed nobis, ab placeat blanditiis aut consequuntur quia ea quaerat?
                    </p>
                    <div class="btn-action">
                        <button class="btn-read"><i class="fa-solid fa-book-open-reader"></i>Read now</button>
                        <button class="btn-add"><i class="fa-solid fa-plus"></i>Add to my list books</button>
                        <button class="btn-like"><i class="fa-solid fa-thumbs-up"></i></button>
                    </div>
                    <article class="about_author">
                        <span class="main-title" style="margin:1rem 0; display: block;">Mark Twain</span>
                        <p>
                            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            Nobis voluptatibus enim, perferendis in fuga excepturi,
                            fugit similique illo dicta, maiores vel laborum animi quasi
                            facere consequatur sit veritatis asperiores qui.
                        </p>
                        <a class="read-more d-block" href="#">Read more ...</a>
                    </article>

                </div>

            </div>
        </div>
        <div class="author-ava w-30">
            <img src="/img/home01/png/1.png" alt="" class="w-100">
        </div>

    </div>
</section>

<section class="section-main">
    <div class="container">
        <span class="big-main-title">Library</span>
        <div class="search-box d-flex">
            <div class="typing fa-solid fa-magnifying-glass">
                <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                <input type="search" name="" id="" placeholder="Search">
            </div>
            <div class="category select-option">
                <span class="title desc">Category</span>
                <div class="btn-select  d-flex">
                    <span class="main-title">All</span>
                    <span class="btn-down fa-solid fa-chevron-down"></span>
                </div>

                <ul class="list-options">
                    <li class="option">Mark Twain</li>
                    <li class="option">Fyodor Tyutchev</li>
                    <li class="option">Alexander Puskin</li>
                    <li class="option">Mikhail Lermontov</li>
                    <li class="option">Karolina Pavlova</li>
                    <li class="option">Khomyakov Avtoportre</li>
                </ul>
            </div>
            <div class="century select-option">
                <span class="title desc">Century</span>
                <div class="btn-select  d-flex">
                    <span class="main-title">All</span>
                    <span class="btn-down fa-solid fa-chevron-down"></span>
                </div>

                <ul class="list-options">
                    <li class="option">19th</li>
                    <li class="option">20th</li>
                    <li class="option">21th</li>
                </ul>
            </div>
            <div class="btn-go">
                <span>GO</span>
            </div>
        </div>
        <div class="book-lists d-flex">

        </div>
    </div>
</section>



<!-- jquery -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

{{!-- script  --}}
<script src="/js/bookmark.js" type="module"></script>