
<head>
  <link rel="stylesheet" href="/css/quizstyle.css">
</head>

  <div class="quiz-container">
    {{!-- <span class="bi bi-lightbulb-off-fill"></span> --}}
    <h2 id="quiz">...</h2>
    <hr>
    <li><a id="a" href="#" onclick>...</a></li>
    <li><a id="b" href="#">...</a></li>
    <li><a id="c" href="#">...</a></li>
    <li><a id="d" href="#">...</a></li>
    <li><a href="/home02"><<</a></li>
  </div>
  <script src="/js/quizauthor.js"></script>
