{{!-- css  --}}
<link rel="stylesheet" href="/css/quizstyle.css">

<div class="quiz-container">
  {{!-- <span class="bi bi-lightbulb-off-fill"></span> --}}
  <h2 id="quiz">...</h2>
  <hr>
  <li><a id="a" href="#" onclick>...</a></li>
  <li><a id="b" href="#">...</a></li>
  <li><a id="c" href="#">...</a></li>
  <li><a id="d" href="#">...</a></li>
  <li style="text-align: center;">
    <a href="/home02" class="btn-back">
      	See more about author biography 👈 
    </a>
  </li>
</div>

{{!-- script  --}}
<script src="/js/quizauthor.js"></script>