{{!-- css  --}}
<link rel="stylesheet" href="../css/community.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />


<section class="section-main">
    <div class="container d-flex">
        <div class="main-content w-75">
            <span class="main-title-top">Welcome to our community</span>
            <div class="slide-bar">
                <div class="list-items d-flex">
                    
                </div>
            </div>
            <div class="search-box d-flex">
                <div class="typing fa-solid fa-magnifying-glass">
                    <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                    <input type="search" name="" id="" placeholder="Search">
                </div>
                <div class="friends d-flex">
                    <div class="select-option">
                        <span class="title desc">Friends</span>
                        <ul class="list-friends">
                            <li class="per"><img src="/img/community/elon-musk.png" alt=""></li>
                            <li class="per"><img src="/img/community/1_5.png" alt=""></li>
                            <!-- <li class="per"><img src="../images/community/elon-musk.png" alt=""></li> -->
                            <li class="per">+3</li>
                        </ul>
                    </div>
                    <span class="btn-down fa-solid fa-chevron-down"></span>
                </div>
                <div class="category d-flex">
                    <div class="select-option">
                        <span class="title desc">Category</span>
                        <span class="main-title">All</span>
                    </div>
                    <span class="btn-down fa-solid fa-chevron-down"></span>
                </div>
                <div class="century d-flex">
                    <div class="select-option">
                        <span class="title desc">Century</span>
                        <span class="main-title">All</span>
                    </div>
                    <span class="btn-down fa-solid fa-chevron-down"></span>
                </div>
                <div class="btn-go">
                    <span>GO</span>
                </div>
            </div>
        </div>
        <div class="aside-content w-25">
            <div class="recommend-zone">
                <div class="hot-books swiper">
                    <div class="book-slides swiper-wrapper d-flex">

                    </div>
                    <span class="main-title">It's time to discuss</span>
                </div>

                <ul class="some-readers">
                    <li class="reader-item"><img src="/img/community/users/1.jpg" alt=""></li>
                    <li class="reader-item"><img src="/img/community/users/10.jpg" alt=""></li>
                    <li class="reader-item">+3</li>
                </ul>
                <div class="btn-go">
                    <!-- <span>GO</span> -->
                </div>
            </div>
            <div class="top-readers">
                <span class="main-title-top d-block">Top readers</span>
                <ul class="list-readers">

                </ul>
            </div>
        </div>
    </div>
</section>


<!-- script -->
{{!-- swiper  --}}
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
{{!-- chart  --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

{{!-- script  --}}
<script src="/js/community.js" type="module"></script>