{{!-- css  --}}
<link rel="stylesheet" href="/css/home02.css">


{{!-- mian - page  --}}
<section class="mainSection">
        <article class="authorPic">
            <img src="/img/author/1.jpg" alt="Mark Twain"> 
        </article>
        <h1>Mikhail Lermontov</h1>
        <h3 class="mode-compatible">Mikhail Yuryevich Lermontov was a Russian Romantic writer, poet and painter, sometimes called "the poet of the Caucasus", the most important Russian poet after Alexander Pushkin's death in 1837 and the greatest figure in Russian Romanticism. His influence on later Russian literature is still felt in modern times, not only through his poetry, but also through his prose, which founded the tradition of the Russian psychological novel.</h3>
        <h3 style="margin-top: 5rem;">Popular book</h3>
        <article class="bookZone">
            <img src="/img/home01/book_img/1/1.jpg" alt="B1"> 
            <img src="/img/lermontov_b1.jpg" alt="B2"> 
            <img src="/img/lermontov_b1.jpg" alt="B3"> 
            <img src="/img/lermontov_b1.jpg" alt="B4"> 
        </article>
        <article class="bottom-left-article">
            <p>BORN</p>
            <p>15 OCT 1814</p>
            <p>Moscow, Russian</p>
        </article>
        <article class="bottom-middle-article">
            <p> </p>
            <p>____</p>
            <p> </p>
        </article>
        <article class="bottom-right-article">
            <p>DIED</p>
            <p>27 JUL 1841</p>
            <p>Caucasus Oblast, Russian</p>
        </article>
        <a href="/challenge" style="margin-top: 5rem;">Play quiz about popular authors >></a>
</section>

{{!-- script  --}}
<script src="/js/home02.js"></script>
