<head>
     <link rel="stylesheet" href="css/home.css">
</head>

    {{> header}}


    <section class="section-01">
        <div class="container d-flex w-90">
            <div class="left-content w-50">
                <div class="slide">
                    <div class="slide-show">
                        <div class="head-banner">
                            <span class="big-title d-block">poets of the 19th century</span>
                            <span class="desc d-block">More than 300 poems</span>
                        </div>
                        <div class="w-50 img-box">
                            <img src="/img/home/slide.png" alt="">
                        </div>
                        
                    </div>
                    <div class="slide-items">
                        <ul class="list-items d-flex">
                    
                        </ul>
                    </div>
                </div>
                <div class="search-box d-flex">
                    <div class="typing fa-solid fa-magnifying-glass">
                        <!-- <i class="fa-solid fa-magnifying-glass"></i> -->
                        <input type="search" name="" id="" placeholder="Search">
                    </div>
                    <div class="category select-option">
                            <span class="title desc">Category</span>
                            <div class="btn-select  d-flex">
                                <span class="main-title">All</span>
                                <span class="btn-down fa-solid fa-chevron-down"></span>
                            </div>
                            
                            <ul class="list-options">
                                <li class="option">Mark Twain</li>
                                <li class="option">Fyodor Tyutchev</li>
                                <li class="option">Alexander Puskin</li>
                                <li class="option">Mikhail Lermontov</li>
                                <li class="option">Karolina Pavlova</li>
                                <li class="option">Khomyakov Avtoportre</li>
                            </ul>
                    </div>
                    <div class="century select-option">
                            <span class="title desc">Century</span>
                            <div class="btn-select  d-flex">
                                <span class="main-title">All</span>
                                <span class="btn-down fa-solid fa-chevron-down"></span>
                            </div>
                            
                            <ul class="list-options">
                                <li class="option">19th</li>
                                <li class="option">20th</li>
                                <li class="option">21th</li>
                            </ul>
                    </div>
                    <div class="btn-go">
                        <span>GO</span>
                    </div>
                </div>
                <div class="last-request-box">
                    <span class="desc">Last request</span>
                    <ul class="list-requests">

                    </ul>
                </div>
            </div>
            <div class="right-content w-50">
                <div class="writer-zone">
                    <div class="topic_writer">
                        <span class="main-topic d-block" id="pp-writer">Popular writers</span>
                        <div class="btn_s">
                            <i class="bi-move bi-arrow-left"></i>
                            <i class="bi-move bi-arrow-right"></i>
                        </div>
                    </div>
                    <ul class="list-writers d-flex">

                    </ul>
                </div>
                <div class="book-zone">
                    <span class="main-topic">Books</span>
                    <div class="book-lists d-flex">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{> footer}}
    
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"
        integrity="sha512-AODL7idgffQeNsYdTzut09nz9AINcjhj4jHD72HcLirsidbC8tz+dof7gceOCQD8WskeuRFfJ9CsgZTHlMiOYg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/layout.js" type="module"></script>
    <script src="/js/home.js" type="module"></script>
