
<head>
    <link rel="stylesheet" href="/css/loading.css">
</head>
<body>
    <div class="loader">
        <span>Loading...</span>
      </div>
      <a href="/home" style="display:none;"></a>
      <script>
        setTimeout(() => {
            document.querySelector('a').click();
          }, 1000)
      </script>
</body>
</html>